  body {
    font-family: 'PT Sans';
    font-size: 1.1em;
    line-height: 1.3;
    margin: 0;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    color: rgb(255, 255, 255);
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0a321e;
    background: url('../images/bg2-2015.jpg') no-repeat center center fixed;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}  

#container {
  width:100%;
  max-width:400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: 'Arvo Gruen';
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-size: 1.4em;
}

h2  {
  font-family: 'Arvo Gruen';
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-size: 1.2em;
}

.verstecke 
  { 
  color: rgba(255,238,0,1);
  } 
   .logo { 
  width: 90px;
  }  
  .logo2 { 
  width: 200px;
  padding-top:50px;
  }    
  .muster{
  	position: absolute;
  	top: 0;
  	left: 50%;
     margin-left: -135px;
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-family: 'Arvo';
    font-size:2em;
    margin-left:0;
}

.haustier img {
  width:60px;
  margin:10px;
}
.share-button {
    height: 60px;
    line-height: 60px;
    width: 90%;
    max-width: 300px;
    border:1px solid #0D386F;
    background-color:#5D7DAE;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size:19px;
    font-weight:bold;
    border-top:1px solid #879DC2;
    display:block;
    margin-bottom: 50px;
}
.share-button:hover {
    background-color: #4C658A;
}
.share-button.error {
    background-color: #7e8695;
    cursor: default;
}
.share-button.error:hover {
    background-color: #7e8695;
}
